<ion-grid>
  <ion-row>
    <ion-col size="12" size-md="6" size-lg="3">
      <h3>Development</h3>
      <ion-list>
        <ion-item>
          <ion-label>
            <h4><a href="#">Python</a></h4>
            <p>36,354,994 learners</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h4><a href="#">Web Development</a></h4>
            <p>11,415,615 learners</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h4><a href="#">Machine Learning</a></h4>
            <p>7,070,015 learners</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  
    <!-- Categoría Business -->
    <ion-col size="12" size-md="6" size-lg="3">
      <h3>Business</h3>
      <ion-list>
        <ion-item>
          <ion-label>
            <h4><a href="#">Financial Analysis</a></h4>
            <p>1,195,282 learners</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h4><a href="#">SQL</a></h4>
            <p>5,977,561 learners</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h4><a href="#">PMP</a></h4>
            <p>1,733,398 learners</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  
    <!-- Categoría IT and Software -->
    <ion-col size="12" size-md="6" size-lg="3">
      <h3>IT and Software</h3>
      <ion-list>
        <ion-item>
          <ion-label>
            <h4><a href="#">Amazon AWS</a></h4>
            <p>6,123,456 learners</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h4><a href="#">Ethical Hacking</a></h4>
            <p>10,931,066 learners</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h4><a href="#">Cyber Security</a></h4>
            <p>3,998,037 learners</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  
    <!-- Categoría Design -->
    <ion-col size="12" size-md="6" size-lg="3">
      <h3>Design</h3>
      <ion-list>
        <ion-item>
          <ion-label>
            <h4><a href="#">Photoshop</a></h4>
            <p>10,909,736 learners</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h4><a href="#">Graphic Design</a></h4>
            <p>3,381,052 learners</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h4><a href="#">Drawing</a></h4>
            <p>2,410,849 learners</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <ion-button fill="outline">Descubrir más temas</ion-button>
    </ion-col>
  </ion-row>
  </ion-grid>