<ion-footer>
<div class="footer-dark">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="3">
        <ion-list>
          <ion-item href="#" lines="none">Udemy Business</ion-item>
          <ion-item href="#" lines="none">Enseña en Udemy</ion-item>
          <ion-item href="#" lines="none">Consigue la aplicación</ion-item>
          <ion-item href="#" lines="none">¿Quiénes somos?</ion-item>
          <ion-item href="#" lines="none">Ponte en contacto con nosotros</ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="3">
        <ion-list>
          <ion-item href="#" lines="none">Empleo</ion-item>
          <ion-item href="#" lines="none">Blog</ion-item>
          <ion-item href="#" lines="none">Ayuda y asistencia</ion-item>
          <ion-item href="#" lines="none">Afiliado</ion-item>
          <ion-item href="#" lines="none">Inversores</ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="3">
        <ion-list>
          <ion-item href="#" lines="none">Condiciones</ion-item>
          <ion-item href="#" lines="none">Política de privacidad</ion-item>
          <ion-item href="#" lines="none">Configuración de cookies</ion-item>
          <ion-item href="#" lines="none">Mapa del sitio</ion-item>
          <ion-item href="#" lines="none">Declaración de accesibilidad</ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="3">
        <ion-button fill="outline" color="secondary" href="#">
          <ion-icon slot="start" name="globe"></ion-icon>
          Español
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-end">
      <ion-col size="12" size-md="6" size-lg="3" class="ion-text-right">
        <p>© 2024 Udemy, Inc.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-footer>