<ion-header>
  <ion-toolbar class="header">
    <div class="grid-container">
      <!-- Imagen del logo -->
      <ion-buttons class="logo-container" slot="start">
        <ion-img class="logo" src="../assets/Udemy/logo.png"></ion-img>
      </ion-buttons>

      <!-- Título de Categorías -->
      <ion-title class="titulo">Categorías</ion-title>

      <!-- Barra de búsqueda -->
      <ion-searchbar class="searchbar" placeholder="Buscar cualquier cosa"></ion-searchbar>

      <!-- Enlaces de Udemy Business y Enseña en Udemy -->
      <div class="business-links">
        <a href="#">Udemy Business</a>
        <a href="#">Enseña en Udemy</a>
      </div>

      <!-- Botones al final -->
      <ion-buttons class="end-buttons" slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
        </ion-button>
        <ion-button class="boton-iniciar">Iniciar sesión</ion-button>
        <ion-button class="boton-registrar">Regístrate</ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="globe-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>